/* colors */
$header-color: #1a1a1a;
$dark: #141414;
$accent: #703bf7;
$white: #fff;
$dark-grey: #262626;
$grey: #999999;

/*fonts */
$font-main: "Urbanist", sans-serif;

/* other */
$tablet: 1200px;
